In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("ohio_pop_2019.csv")
df1= pd.read_csv("countiesFipscode.csv")

In [6]:
df

   county_name  pop_2019
0        Adams     27776
1        Allen    103175
2      Ashland     53536
3    Ashtabula     97830
4       Athens     65917
..         ...       ...
83  Washington     60426
84       Wayne    116099
85    Williams     36816
86        Wood    130150
87     Wyandot     22000

[88 rows x 2 columns]

In [15]:
merged_df = pd.merge(df1[df1['State'] == 'OH'], df, left_on='Name', right_on='county_name')

In [17]:
del merged_df['Name']

In [22]:
merged_df[['FIPS', 'pop_2019']].to_csv("ohio_population_by_fips.csv", index=False)